@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color:#1B4965;
    --secondary-text-color:#CAE9FF;
    --accent-color:#62B6CB;
    --accent-dark-color:#023e8a;
    --padding-inline-section:20px;
}
header{
    height: 70vh;
    /* background-color: #CAE9FF; */
    border-bottom: 2px solid #62B6CB;
}
.container{
    width: 90%;
}

.navbar{
    background-color: #94cdf6;
    height: 80px;
    justify-content: space-evenly;
}
.flex{
    display: flex;
    align-items: center;
}
.logo{
    width: 20%;
}
img{
    height: 80px;
}
.list{
    width: 70%;
    flex-basis: 700px;
}
.list ul{
    height: 60px;
    justify-content: space-evenly;
}
.list_item{
    text-decoration: none;
    color: #023e8a;
}
.list_item:hover{
    color: white;
}

.login{
    background-color: white;
    height: 30px;
    width: 70px;
    text-align: center;
    padding: 3px;
    border-radius: 6px;
    border: 2px solid #1B4965;

}
.login:hover{
    color: white;
    background-color: #1B4965;
    border: 2px solid white;
}
.signup{
    background-color: #1B4965;
    color: white;
    height: 30px;
    width: 70px;
    text-align: center;
    padding: 3px;
    border-radius: 6px;
    border: 2px solid white;
}

.signup:hover{
    color: #1B4965;
    border: 2px solid #1B4965;
    background-color: white;
}
.hero_section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.paragraph_section{
    width: 40%;
    margin-right: 40px;
}
.paragraph_section h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.paragraph_section p{
    /* width: 50%; */
    text-align: justify;
}
.hero_image{
    height: 350px;
    
}

.company{
    background-color: #94CDF6;
    height: 150px;
    /* width: 80%; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
